*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#progress-bar{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #d7d7d7;
    z-index: 99999;
}
#container{
    width: 100vw;
    height: auto;
    background: #d7d7d7;
}