* {
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100%;
    background: #616570;
    position: relative;
}

.logo {
    position: absolute;
    right: 3%;
    top: 30px;
    width: 35px;
    height: 65px;
    font-size: 20px;
    font-family: kaiti;
}

.top-text {
    overflow: hidden;
    position: absolute;
    left: 5%;
    top: 300px;
    padding-left: 30px;
    border-left: solid 4px #fff;
}

.name {
    font-size: 80px;
    color: #fff;
    font-family: heiti;
    text-shadow: 5px 5px 5px #938467;
}

.tall {
    padding: 10px;
    width: 50%;
    color: #fff;
    font-family: kaiti;
    font-size: 20px;
    word-wrap: break-word;
}

.top-left {
    float: left;
    margin-left: 2%;
    width: 48%;
    height: 512px;
    background-size: 100%;
    background-image: url(topleft1.jpg);
}

.top-right {
    float: right;
    margin-right: 2%;
    width: 48%;
    height: 512px;
    background-size: 100%;
    background-image: url(topright1.jpg);
}

.menu {
    float: left;
    width: 100%;
    height: 60px;
    background: #1c1011;
    opacity: 0.8;
    filter: alpha(opacity=100);
}

ul {
    list-style-type: none;
    margin: 0 5% 0 5%;
    padding: 0;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    overflow: hidden;
    background-color: #1c1011;
}

.menu li:nth-child(1) {
    background: #8a6d3b;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: #090809;
}

.user-background {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.username {
    margin: 10px 5% 10px 4%;
    width: 25%;
    height: 400px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #7e8269, #fff);
    box-shadow: 10px 10px 5px #888888;
    opacity: 0.8;
    filter: alpha(opacity=100);
}

.user-photo {
    float: right;
    border: solid 2px #000;
    margin-right: 20px;
    margin-top: 20px;
    width: 125px;
    height: 175px;
    background: url(userphoto.png);
    background-size: 100%;
}

.user-introduction {
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    width: 135px;
    height: 175px;
    line-height: 30px;
    font-size: 20px;
    font-family: kaiti;
}

.study-box {
    margin: 10px 10px 10px 5%;
    width: 60%;
    height: 400px;
    border-radius: 20px;
    background: linear-gradient(to right, #342526, #fff);
    box-shadow: 10px 10px 5px #888888;
    opacity: 0.8;
    filter: alpha(opacity=100);
}

.study-title {
    margin-top: 20px;
    margin-left: 40px;
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-family: heiti;
    color: #fff
}

.study-object {
    float: left;
    width: 90%;
    height: 300px;
    margin-left: 5%;
    background: #192314;
    display: flex;
    flex-wrap: wrap;
}

.study-product {
    width: 23%;
    height: 60%;
    margin: 7px;
}

.study-product:nth-child(1) {
    background: url(product1.jpg);
    background-size: 100%;
}

.study-product:nth-child(2) {
    background: url(product2.jpg);
    background-size: 100%;
}

.study-product:nth-child(3) {
    background: url(product3.jpg);
    background-size: 100%;
}

.study-product:nth-child(4) {
    background: url(product4.jpg);
    background-size: 100%;
}

.study-text {
    width: 23%;
    padding: 7px;
    text-align: center;
    font-size: 20px;
    font-family: kaiti;
    color: #fff;
}

.responsive {
    float: left;
    width: 100%;
}

.tour-box {
    margin: 5px auto;
    padding: 0 4%;
    width: 90%;
    height: 400px;
    border: 5px solid #fff;
    background: #342526;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    opacity: 0.8;
    filter: alpha(opacity=100);
    position: relative;
    overflow: hidden;
}

.tour-pic {
    position: absolute;
    margin: 1%;
    width: 60%;
    height: 90%;
    padding: 1px 6px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

.tour-pic:nth-child(1) {
    z-index: 800;
    background: url("https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3719177023,3302320834&fm=27&gp=0.jpg");
    background-size: 100%;
    -webkit-animation: child-1-move 5s infinite;
    animation: child-1-move 5s infinite;
}

@keyframes child-1-move {
    50% {
        opacity: 0;
    }
}

.tour-pic:nth-child(2) {
    z-index: 400;
    background: url("https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3170629640,1515431411&fm=27&gp=0.jpg");
    background-size: 100%;
    -webkit-animation: child-2-move 10s infinite;
    animation: child-2-move 10s infinite;
}

@keyframes child-2-move {
    50% {
        opacity: 0;
    }
}

.tour-pic:nth-child(3) {
    z-index: 600;
    background: url("https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3237001243,3779984151&fm=200&gp=0.jpg");
    background-size: 100%;
    -webkit-animation: child-3-move 15s infinite;
    animation: child-3-move 15s infinite;
}

@keyframes child-3-move {
    50% {
        opacity: 0;
    }
}

.tour-pic:nth-child(4) {
    z-index: 200;
    background-size: 100%;
    background: url("http://images.gaga.me/photos2/2018/0601/5b10e8a7f297f.jpeg");
}

.thumbnail-box {
    float: right;
    width: 30%;
    height: 370px;
    margin: 10px;
}

.thumbnail {
    float: right;
    width: 45%;
    height: 80px;
    margin: 5px;
    background: #616570;
}

.thumbnail-text {
    float: right;
    width: 40%;
    height: 80px;
    margin: 5px;
    color: #fff;
}

.sport-box {
    margin: 10px;
    width: 28%;
    height: 500px;
    background: #000;
    -webkit-animation: sport-move 4s infinite;
    animation: sport-move 4s infinite;
}

@keyframes sport-move {
    50% {
        box-shadow: 10px 20px 30px blue;
    }
}

.more {
    margin: 10px 5% 10px 10px;
    width: 28%;
    height: 200px;
    background: url("https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2089250477,4143327651&fm=27&gp=0.jpg");
    background-size: 400px 200px;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {
        background-size: 125px 125px;
    }
}

.again {
    width: 25%;
    height: 400px;
    background: #8a6d3b;
    -webkit-animation: again-move 5s infinite;
    animation: again-move 5s infinite;
}

@keyframes again-move {
    50% {
        opacity: 0;
    }
}