*{
  margin: 0;
  padding: 0;
}
.background{
  width:100%;
  height:100%;
  background:#616570;
  position: relative;
}
.logo{
  position: absolute;
  right: 3%;
  top:30px;
  width: 35px;
  height: 65px;
  font-size: 20px;
  font-family: kaiti;
}
.toptext{
  overflow: hidden;
  position: absolute;
  left: 5%;
  top:300px;
  padding-left: 30px;
  border-left: solid 4px #fff;
}
.name{
 font-size: 80px;
 color: #fff;
 font-family: heiti;
 font-style: bold;
}
.tall{
  color: #fff;
  font-family: kaiti;
  font-size: 20px;
}
.topleft{
  float: left;
  margin-left: 2%;
  width: 48%;
  height: 512px;
  background-size: 100%;
  background-image: url(topleft1.jpg);
}

.topright{
  float: right;
  margin-right: 2%;
  width: 48%;
  height: 512px;
  background-size: 100%;
  background-image: url(topright1.jpg);
}
.menu{
  float: left;
  width: 100%;
  height: 70px;
  background: #1c1011;
  opacity:0.8;
  filter:alpha(opacity=100);
}
ul {
  list-style-type: none;
  margin: 0 5% 0 5%;
  padding: 0;
  border-left: solid 2px #fff;
  border-right: solid 2px #fff;
  overflow: hidden;
  background-color: #1c1011;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
}
li a:hover {
  background-color: #090809;
}
.userbackground{
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.username{
  margin: 10px;
  margin-right: 5%; 
  width: 25%;
  height: 400px;
  border-radius: 20px;
  background:linear-gradient(to bottom,#7e8269,#fff);
  opacity:0.8;
  filter:alpha(opacity=100);
}
.userphoto{
  float: right;
  border: solid 2px #000;
  margin-right: 20px;
  margin-top: 20px;
  width: 125px;
  height: 175px;
  background: url(userphoto.png);
  background-size: 100%;
}
.userintroduction{
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  width: 135px;
  height: 175px;
  line-height: 30px;
  font-size: 20px;
  font-family: kaiti;
}
.studybox{
  margin: 10px;
  margin-left: 5%;
  width: 60%;
  height: 400px;
  border-radius: 20px;
  background:linear-gradient(to right,#7e8269,#fff);
  opacity:0.8;
  filter:alpha(opacity=100);
}
.studytitle{
  margin-top: 20px;
  margin-left: 40px;
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-family: heiti;
  color: #3c3031;
}
.studyobject{
  float: left;
  width: 90%;
  height: 300px;
  margin-left : 4%;
  background: #342526;
  display: flex;
  flex-wrap: wrap;
}
.studyproduct{
  width: 23%;
  height: 240px;
  margin:7px;
}
.studyproduct:nth-child(1){
  background:url(product1.jpg);
  background-size:100%;
}
.studyproduct:nth-child(2){
  background: url(product2.jpg);
  background-size:100%;
}
.studyproduct:nth-child(3){
  background: url(product3.jpg);
  background-size:100%;
}
.studyproduct:nth-child(4){
  background: url(product4.jpg);
  background-size:100%;
}
.studytext{
  width: 23%;
  padding: 7px;
    text-align: center;
    font-size: 20px;
    font-family:kaiti;
    color: #fff;
}
.responsive {
    float: left;
    width: 100%;
}
.tourbox{
  margin: 10px;
  margin-left: 5%;
  width: 28%;
  height: 400px;
  background: #652314;
}
.sportbox{
  margin:10px;
  width: 28%;
  height: 500px;
  background:#000;
}
.more{
  margin-right: 5%;
  margin:10px;
  width:28%;
  height: 200px;
  background: #549245;
}